/* html {
  background: url("./images/pexels-jaime-reimer-2662116.jpeg") no-repeat center
    center fixed;
  background-size: cover;
  background-blend-mode: multiply;
} */
html,table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: normal;
  font-size: 20px;
  background: #000;
  
  /* min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%; */
  align-content: center;
  padding: 10px;
  padding-top: 10vw;
  box-sizing: border-box;
  --font-color: #ffffff;
  color: var(--font-color);
  /* display: flex;
  flex-direction: column; */
}

.black {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 6px;
    margin-top: 10px;
    color:#fff!important;
    background-color:#000!important;
}

.white{
  color:#000!important;
background-color:#fff!important;
border-radius: 4px;
/* margin: 1px; */
}

.Quote{
  align-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: normal;
  font-size: 35px;
}

.Author{
  font-size: 25px;
  font-weight: lighter;
  color: grey;
  text-align: end;
  margin-right: 5%;
}